extends ./layout

block content
    .messages= message
    a.btn.btn-default(href='/new') Создать робота
    h2 Активные роботы
    table.table.table-striped
        thead
            tr
                td ID
                td Название
                td Состояние
                td PID
                td
                td
        tbody
            for robot in robots
                tr
                    td= robot.get('id')
                    td= robot.get('name')
                    td= robot.get('state')
                    td= robot.get('pid')
                    td
                        .button
                            a.btn.btn-default(href='/robots/' + robot.id) Подробнее
                    td
                        .button
                            form(method='post', action='/robots/' + robot.id)
                                input.btn.btn-danger(type='submit', value='Удалить')

    .robovisor
        h2 Запустить роботов
        form(method='post', action='/robovisor/start')
            input.btn.btn-success(type='submit', value='Запуск')
        form(method='post', action='/robovisor/stop')
            input.btn.btn-danger(type='submit', value='Остановить')
