extends ./layout

block header
    script(src="/js/refresher.js")

block content
    h2.title= robot.get('name')
    .url
        a(href=robot.get('url'), target='_blank') Посмотреть на сайте

    .state= robot.get('state')
    .game-chart(data-chart=robot.get('gameData'))
    ul.play-data
        for bets, algorithm in playData
            li
                .name= helpers.algorithmLabel(algorithm)
                ul.bets
                    for str in helpers.betsParser(bets)
                        li= str
